# Python virtual environments
venv/
.venv/
__pycache__/

# dbt logs and compiled target files
target/
dbt_packages/
logs/

# Mac system files
.DS_Store

# SQLite database file (keep local; dbt runs against it locally)
*.sqlite
*.db
*.sqlite3
hasbro_assessment.session.sql

# pyenv
v-hasbro/

# vs code extensions
.vscode/

# db file (i am assuming others have same db copy)